[submodule "applied-data-science-with-r-slides"]
    path = applied-data-science-with-r-slides
    url = https://github.com/laegsgaardTroels/applied-data-science-with-r-slides

[submodule "applied-data-science-with-pyspark-slides"]
    path = applied-data-science-with-pyspark-slides
    url = https://github.com/laegsgaardTroels/applied-data-science-with-pyspark-slides
