---
layout: default
title: Blog
---

<div class="row">
  {% for post in site.posts %}

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch" style="margin-bottom: 20px;">
        <div class="card"
              style="border: 3.0;
                     background: transparent;
                     padding: 10%;"
        >
            <div class="row-11">
              <img style="height:220px; max-height:270px; width:300px; border: 0; background: transparent; padding: 5%;"src="{{ post.image }}" onerror="this.src=/assets/images/base/missing.jpg">
            </div>
            <div class="row-1">
              <h3>{{ post.title }}</h1>
  	          <strong> {{ post.category }} </strong>
              <div class="text-muted">{{ post.date | date_to_string }}</div>
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | append: '[...]'}}</p>
              <a href="{{ post.url }}">Continue reading</a>

              {% if post.code %}
                  &emsp;
                  <a href="{{ post.code }}" target="_blank">
                    [<i>View code</i> <span class="fa fa-github"></span>]
                  </a>
              {% endif %}

            </div>
        </div>
    </div>

  {% endfor %}
</div>
