<!doctype html>
<html lang="en">
  <head>

      <style>
        $styles.html()$
      </style>
      $for(css)$
        <link rel="stylesheet" href="$css$" />
      $endfor$

      $for(header-includes)$
          $header-includes$
      $endfor$
      $if(math)$
          $math$
      $endif$

    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  </head>
  <body>

    $for(include-before)$
    $include-before$
    $endfor$

    <div class="container">
        <br>
        <div class="card"
                  style="border: 3.0;
                         background: transparent;
                         padding: 10%;"
            >
            

            <br>
            $body$
        </div>
        <br>
        <br>
    </div>

    $footer.html()$
    
  </body>
</html>
