<!doctype html>
<html lang="en">
  <head>

      <style>
        $styles.html()$
      </style>
      $for(css)$
        <link rel="stylesheet" href="$css$" />
      $endfor$

      $for(header-includes)$
          $header-includes$
      $endfor$
      $if(math)$
          $math$
      $endif$

    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  </head>
  <body>

    $for(include-before)$
    $include-before$
    $endfor$

    <div class="container">
        <br>
        <div class="page-header">
            <div class="pull-left">
                <h1>$title$</h1>
                <strong>$category$</strong>
                <div class="text-muted">$date$</div>
            </div>
            
            <div class="pull-right">

                $if(code)$
                <div class="text-right">
                    <a href="$code$">
                        [<i>View code on Github</i> <span class="fa fa-github"></span>]
                    </a>
                </div>
                $endif$

            </div>
            <div class="clearfix"></div>
        </div>
        

        <br>
        $body$
        <br>
        <br>

        $disqus.html()$
        
    </div>


    $footer.html()$
    
  </body>
</html>
