---
layout: default
---

<div class="page-header">
  <div class="pull-left">
  <h1>{{ page.title }}</h1>
  </div>
  <div class="pull-right">

    {% if page.code %}
      <div class="text-right">
        <a href="{{ page.url | remove: '.html' | append: '-code.html'}}">
          [<i>View code on Github</i> <span class="fa fa-github"></span>]
        </a>
      </div>
    {% endif %}

  </div>
  <div class="clearfix"></div>
</div>

<div class="text-muted">{{ page.date | date_to_string }}</div>

<br>

{{ content }}

<br>
<hr>
<br>

<h1>Comments</h1>

{% include disqus_comments.html %}
